
  
 
  .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
  }
  
  
  .card img {
    height: 200px; 
   
  }
  
  
  .card-title {
    font-size: 1.2em; 
    margin-bottom: 10px;
  }
  
  /* Style pour la description du produit */
  .card-text {
    color: #666; /* Couleur du texte */
  }
  
  /* Style pour le corps de la carte */
  .card-body {
    padding: 20px; /* Espacement interne */
  }
  
  .card:hover {
    background: #eaeaf8;
    font-size: 1.1em;
  }
