.container{
  position: relative;
  display :flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:40px;
background-color: #ffffff;
  

}
.container .progress{
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  color: #ffffff;
  background: #444 linear-gradient(to right,transparent 50%, var(--clr) 0);
}
.container .progress h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  font-weight: 500;
  font-size: 4.65em;
  
}

.container .progress h3 span{
  
  font-weight: 400;

}
.container .progress h4{
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--clr);
  text-transform: uppercase;
}
.container .progress::before
{
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}
.container .progress::after{
  content: '';
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background-color: #0a0a0a;
}